.GithubUser {
  &.wrapper {
    width: 240px;
    text-align: left;
    color: #24292e;
  }

  .container {
    padding: 5px;
    // &:hover {
    //   box-shadow: 0 0 3px 3px #ddd;
    //   border-radius: 6px;
    // }
  }

  .rule {
    padding: 8px 0;
    border-top: 1px #e1e4e8 solid;
    margin-top: 16px;
  }
  .avatar {
    img {
      width: 100%;
      border-radius: 6px;
    }
  }

  .name {
    font-size: 26px;
    line-height: 30px;
  }

  .login {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
  }

  .location {
    list-style: none;
    padding-left: 20px;
    color: #24292e;
    margin-top: 0;
    .fa {
      float: left;
      margin-left: -22px;
    }
  }

  ul.statistics {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    padding-left: 0;

    li {
      flex-grow: 1;
      flex-basis: auto;
      margin: 0.05em 0;
      padding: 0 0.25em;
      text-align: center;
      border-left: 1px solid #ccc;
      background-color: #fff;

      &:first-child {
        border-left: none;
      }
    }
  }
}
