.GithubRepo {
  &.wrapper {
    width: 320px;
    text-align: left;
    color: #24292e;
    margin-top: 5px;
  }

  .container {
    padding: 15px;
    box-shadow: 0 0 1px 1px #ddd;
    border-radius: 2px;
    min-height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: space-evenly;
  }

  h3 {
    span {
      font-size: 12px;
    }
  }

  .description {
    flex: 2;
    overflow: hidden;
    max-height: 70px;
  }

  ul.statistics {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -15px;
    padding-left: 0;

    li {
      flex-grow: 1;
      flex-basis: auto;
      margin: 0.05em 0;
      padding: 0 0.25em;
      text-align: center;
      border-left: 1px solid #ccc;
      background-color: #fff;

      &:first-child {
        border-left: none;
      }
    }
  }
}
